
<div class="container text-center p-2" style='width: 400px margin: 12px auto' >
<h1>CREATE NEW LIST</h1>

<br>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit 'Submit', class: "btn btn-outline-warning" %>
<% end %>
</div>
