// Specific CSS for your home-page
.list-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-shadow: 0 0 15px rgba(0,0,0,0.2) ;
}


.list-link:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-shadow: 0 0 15px rgba(0,0,0,0.2)
}

.pos {
  font-size: 16px;
  position: relative;
  top: 50px;
}
